<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公開匿名聊天室</title>
    <link rel="stylesheet" href="assets/css/style.css"/> <!-- 聊天室 需要的 css -->
    <link rel="stylesheet" href="assets/css/reset.min.css" /> <!-- roulette 需要的 css -->
    <link rel="stylesheet/less" type="text/css" href="assets/css/roulette-style.less" /> <!-- roulette 需要的 less -->
    <script src="assets/js/less@3.13.js" ></script> <!-- roulette 需要的, 用來在 browser 編譯 less -->
    <!--<link rel="stylesheet" href="assets/css/roulette-style.css" />-->  <!-- roulette less 編譯出來的 css -->
</head>
<body>
<div class="flex-body">
    <section class="roulette-viewer">

    </section>
    <section class="msger">
        <header class="msger-header">
            <div class="msger-header-title">
                <i class="fas fa-comment-alt"></i> 輪盤 webcocket debug view
            </div>
            <div class="msger-header-options">
                <span><i class="fas fa-cog"></i></span>
            </div>
        </header>
        <!--聊天 block-->
        <div class="msger-chat">

        </div>
        <!--聊天 block-->

        <div class="msger-inputarea">
            <input type="text" class="msger-input" id="msg" placeholder="說些什麼吧～">
            <button type="button" id="send" class="msger-send-btn">發送訊息</button>
        </div>
    </section>
</div>
<script src="assets/js/main.js"></script> <!-- 聊天室 需要的 js -->
<script src="assets/js/jquery.min.js"></script> <!-- roulette 需要的 js -->
<script src="assets/js/hammer.min.js"></script> <!-- roulette 需要的 js -->
<script src="assets/js/roulette-script.js"></script>  <!-- roulette 需要的 js -->
</body>
</html>